doctype html
html
  head
    block meta
      meta(title="Next Generation Underwriters")
      meta(name="viewport" content="width=device-width, initial-scale=1")
      link(rel="apple-touch-icon", sizes="180x180", href="images/favicon/apple-touch-icon.png?v=5APvzQ9a6Q")
      link(rel="icon", type="image/png", sizes="32x32", href="images/favicon/favicon-32x32.png?v=5APvzQ9a6Q")
      link(rel="icon", type="image/png", sizes="192x192", href="images/favicon/android-chrome-192x192.png?v=5APvzQ9a6Q")
      link(rel="icon", type="image/png", sizes="16x16", href="images/favicon/favicon-16x16.png?v=5APvzQ9a6Q")
      link(rel="manifest", href="images/favicon/site.webmanifest?v=5APvzQ9a6Q")
      link(rel="mask-icon", href="images/favicon/safari-pinned-tab.svg?v=5APvzQ9a6Q", color="#1a86ff")
      link(rel="shortcut icon", href="images/favicon/favicon.ico?v=5APvzQ9a6Q")
      meta(name="msapplication-TileColor", content="#1a86ff")
      meta(name="msapplication-TileImage", content="/mstile-144x144.png?v=5APvzQ9a6Q")
      meta(name="theme-color", content="#ffffff")


    block styles
      link(rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900|Vollkorn:400,400i,600,700,900")
      link(rel="stylesheet" type="text/css" href="css/compiled.css")

    block scripts
      script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
      script(type="text/javascript" src="scripts/min/bootstrap-min.js")
      script(type="text/javascript" src="scripts/main.js")

  body(data-spy="scroll" data-target="nav" data-offset="0")

    h1 #{title}

    .overlay

    block video
      
      .background-video
        video(autoplay="autoplay" poster="images/video.jpg" title="Next Generation Underwriters" loop="loop" onended="var v=this;setTimeout(function(){v.play()},300)")
          source(src="video/leaves.m4v" type="video/mp4")
          source(src="video/leaves.webm" type="video/webm")
          object(type="application/x-shockwave-flash" data="video/flashfox.swf" width="1920" height="1080" style="position:relative;")
            param(name="movie" value="video/flashfox.swf")
            param(name="allowFullScreen" value="true")
            param(name="flashVars" value="autoplay=true&controls=false&fullScreenEnabled=false&posterOnEnd=true&loop=true&poster=leaves.jpg&src=leaves.m4v")
            embed(src="video/flashfox.swf" width="1920" height="1080" style="position:relative;" allowFullScreen="true" wmode="transparent" type="application/x-shockwave-flash")
            img(alt="Next Generation Underwriters" src="imagesvideo.jpg" style="position:absolute;left:0;" width="100%" title="Video playback is not supported by your browser")
        script(src="video/html5ext.js" type="text/javascript")

    .wrapper

      .main
        
        .tab
          
          a(href='#') Client Portal
          a(href='#claim') Claims Reporting

        aside
        
          block sidebar

            include ../public/includes/navigation
          
        section
        
          .grid
            
            include ../public/includes/panes

        section
        
          .grid
          
            include ../public/includes/people

        section
        
          .grid
          
            include ../public/includes/faq

        section.forms
        
          .grid
          
            include ../public/includes/resources
