html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font: inherit;
  vertical-align: baseline;
}
box-sizing border-box,
background-clip padding-box !important,
a {
  background: transparent;
  outline: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
time {
  display: block;
}
body {
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
[hidden] {
  display: none;
}
b,
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
small {
  font-size: 85%;
}
img {
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
button[disabled],
input[disabled] {
  cursor: default;
}
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}
svg:not(root) {
  overflow: hidden;
}
.clear:after {
  display: block;
  content: "";
  clear: both;
}
html {
  color: #fff;
  font-size: 16px;
}
.nowrap {
  white-space: nowrap;
}
@-webkit-keyframes next {
  0% {
    opacity: 100%;
    top: 25px;
  }
  100% {
    opacity: 0;
    top: 0;
  }
}
@keyframes next {
  0% {
    opacity: 100%;
    top: 25px;
  }
  100% {
    opacity: 0;
    top: 0;
  }
}
@font-face {
  font-family: 'ngu';
  font-style: normal;
  font-weight: normal;
  src: url("http://zackmaddox.com/sec/fonts/ngu.eot?mrpzwq");
  src: url("http://zackmaddox.com/sec/fonts/ngu.eot?mrpzwq#iefix") format('embedded-opentype'), url("http://zackmaddox.com/sec/fonts/ngu.ttf?mrpzwq") format('truetype'), url("http://zackmaddox.com/sec/fonts/ngu.woff?mrpzwq") format('woff'), url("http://zackmaddox.com/sec/fonts/ngu.svg?mrpzwq#ngu") format('svg');
}
[class^="icon-"],
[class*=" icon-"] {
  color: #fff;
  display: block;
  font-family: 'ngu' !important;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  speak: none;
  text-transform: none;
/* Better Font Rendering =========== */
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
.icon-acorn:before {
  content: "\e900";
}
.icon-arrow-sm:before {
  content: "\e901";
}
.icon-arrow:before {
  content: "\e902";
}
.icon-boat:before {
  content: "\e903";
}
.icon-compass:before {
  content: "\e904";
}
.icon-knife:before {
  content: "\e905";
}
.icon-leaf:before {
  content: "\e906";
}
.icon-sign:before {
  content: "\e907";
}
.icon-telescope:before {
  content: "\e908";
}
.modal {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.9);
}
.modal:target {
  display: block;
  position: fixed;
  z-index: 9999;
}
.modal-content {
  -webkit-animation-name: example;
          animation-name: example;
  -webkit-animation-duration: 500ms;
          animation-duration: 500ms;
  background-color: transparent;
  border: 1px solid #fff;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  margin: auto;
  max-width: 400px;
  position: relative;
  padding: 0;
  outline: 0;
  top: 8vh;
  width: auto;
}
#links .modal-content {
  max-width: 700px;
}
.bio .modal-content p {
  font-size: 0.9375em;
  font-family: 'Vollkorn', 'Arial', sans-serif;
  font-weight: 400;
  line-height: 1.5em;
  line-height: 1.6em;
  padding-bottom: 20px;
}
.bio .modal-content a.arrow {
  color: #fff;
}
.bio .modal-content a.arrow:hover {
  color: #f9d426;
}
.closebtn {
  color: rgba(255,255,255,0.7);
  font-size: 12px;
  letter-spacing: 3px;
  position: absolute;
  font-family: 'Raleway', 'Arial', sans-serif;
  font-weight: 600;
  line-height: 1.5em;
  right: 20px;
  text-decoration: none;
  text-transform: uppercase;
  top: 20px;
  z-index: 999;
}
.closebtn:hover {
  color: #f9d426;
  text-decoration: none;
  cursor: pointer;
}
#testimonials p {
  border-bottom: 1px solid #fff;
  padding: 0 0 30px;
  margin: 0 0 20px;
}
#testimonials p.last {
  border: none;
}
.container {
  padding: 70px 30px 40px;
}
.headline {
  color: #fff;
  font-size: 1.3em;
  padding-bottom: 20px;
  font-family: 'Raleway', 'Arial', sans-serif;
  font-weight: 600;
  line-height: 1.5em;
}
.column {
  display: inline-block;
  width: 48%;
}
.column:first-child {
  margin-right: 3%;
}
p {
  color: #fff;
  font-size: 0.8em;
  font-family: 'Raleway', 'Arial', sans-serif;
  font-weight: 600;
  line-height: 1.5em;
  text-transform: none;
}
h3 {
  color: #fff;
  font-size: 1.3em;
  letter-spacing: 2px;
  font-family: 'Raleway', 'Arial', sans-serif;
  font-weight: 600;
  line-height: 1.5em;
  text-transform: uppercase;
}
h4 {
  color: #fff;
  font-size: 0.8em;
  letter-spacing: 3px;
  padding-bottom: 14px;
  font-family: 'Raleway', 'Arial', sans-serif;
  font-weight: 600;
  line-height: 1.5em;
  text-transform: uppercase;
}
[id^="more"] .container,
[id*=" more"] .container {
  padding-top: 30px;
}
#links a {
  color: #fff;
  display: block;
  font-family: 'Raleway', 'Arial', sans-serif;
  font-weight: 300;
  line-height: 1.5em;
  line-height: 2em;
}
#links a:hover {
  color: #907a62;
}
#links a.closebtn {
  color: rgba(255,255,255,0.7);
}
#links a.closebtn:hover {
  color: #f9d426;
}
#links .modal-content {
  width: 80%;
}
#morefaq,
.bio .modal {
  background-color: rgba(0,0,0,0.9);
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 999;
}
#morefaq .modal-content,
.bio .modal .modal-content {
  background-color: transparent;
  bottom: 10vh;
  max-width: 900px;
  top: 10vh;
  width: 80vw;
}
#morefaq .closebtn,
.bio .modal .closebtn {
  color: rgba(255,255,255,0.7);
}
#morefaq p.a:last-child,
.bio .modal p.a:last-child {
  border: none;
  padding-bottom: 100px;
}
.bio .modal .modal-content {
  max-width: 400px;
}
.portal {
  color: #fff;
  font-size: 0.7em;
  letter-spacing: 2px;
  font-family: 'Raleway', 'Arial', sans-serif;
  font-weight: 600;
  line-height: 1.5em;
  text-transform: uppercase;
}
.portal a {
  display: inline;
}
.portal a:hover {
  color: #f9d426;
}
#contact .modal-content,
#claim .modal-content {
  background-color: transparent;
  border: 1px solid #fff;
  max-width: 400px;
}
#claim .modal-content {
  max-width: 400px;
}
#claim .modal-content p,
#claim .modal-content h4 {
  letter-spacing: 2px;
  margin-bottom: 20px;
}
#claim .modal-content p span,
#claim .modal-content h4 span {
  color: #907a62;
  text-transform: uppercase;
}
form,
#claim .container {
  color: #fff;
  letter-spacing: 4px;
  margin: 0 auto;
  font-family: 'Raleway', 'Arial', sans-serif;
  font-weight: 600;
  line-height: 1.5em;
  text-transform: uppercase;
}
form h4,
#claim .container h4 {
  font-size: 1em;
}
form p.data,
#claim .container p.data {
  font-size: 0.9em;
}
form input,
#claim .container input,
form p,
#claim .container p {
  font-size: 0.8em;
  margin: 4px 0 20px;
  width: 100%;
}
form textarea,
#claim .container textarea {
  height: 100px;
  margin-bottom: 20px;
  width: 100%;
}
form .error,
#claim .container .error {
  color: #f00;
}
form a,
#claim .container a {
  color: #907a62;
  cursor: pointer;
  display: inline;
  font-family: 'Raleway', 'Arial', sans-serif;
  font-weight: 700;
  line-height: 1.5em;
  text-transform: uppercase;
  transition: all 400ms ease;
}
form a:hover,
#claim .container a:hover {
  color: #f9d426;
}
form a.closebtn,
#claim .container a.closebtn {
  color: rgba(255,255,255,0.7);
  font-size: 12px;
}
form a.closebtn:hover,
#claim .container a.closebtn:hover {
  color: #f9d426;
  text-decoration: none;
}
form button,
#claim .container button,
form .login,
#claim .container .login {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  display: block;
  letter-spacing: 4px;
  padding: 10px 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}
form button:hover,
#claim .container button:hover,
form .login:hover,
#claim .container .login:hover {
  background-color: #907a62;
  border: none;
  text-decoration: none;
}
@-webkit-keyframes example {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes example {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
html {
  background-color: #000;
}
body {
  scroll-behavior: smooth;
}
.overlay {
  background-color: #000;
  bottom: 0;
  opacity: 0.7;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: -3;
}
.background-video {
  margin: 0 -11vw;
  overflow-x: hidden;
  position: fixed;
  width: 122vw;
  z-index: -4;
}
@media screen and (max-width: 1500px) {
  .background-video {
    width: 130vw;
  }
}
@media screen and (max-width: 1400px) {
  .background-video {
    width: 140vw;
  }
}
@media screen and (max-width: 1300px) {
  .background-video {
    margin-left: -30vw;
    width: 152vw;
  }
}
@media screen and (max-width: 1200px) {
  .background-video {
    margin-left: -40vw;
    width: 165vw;
  }
}
@media screen and (max-width: 1100px) {
  .background-video {
    margin-left: -50vw;
    width: 185vw;
  }
}
@media screen and (max-width: 1000px) {
  .background-video {
    margin-left: -70vw;
    width: 205vw;
  }
}
@media screen and (max-width: 900px) {
  .background-video {
    margin-left: -90vw;
    width: 235vw;
  }
}
@media screen and (max-width: 800px) {
  .background-video {
    margin-left: -110vw;
    width: 265vw;
  }
}
@media screen and (max-width: 700px) {
  .background-video {
    background: url("http://zackmaddox.com/sec/images/video.jpg") no-repeat center center transparent;
    height: 100%;
    opacity: 0.6;
    margin-left: 0;
  }
  .background-video video {
    display: none;
  }
}
.background-video video {
  width: 100%;
}
.wrapper {
  height: 100vh;
  width: 100vw;
}
.wrapper .main {
  height: 100%;
}
.wrapper .main aside {
  height: 100vh;
  padding: 223px 2% 0;
  position: fixed;
  top: 0;
  width: 340px;
  z-index: 999;
}
@media screen and (max-width: 1400px) {
  .wrapper .main aside {
    width: 330px;
  }
}
@media screen and (max-width: 1200px) {
  .wrapper .main aside {
    padding-top: 130px;
  }
}
@media screen and (max-width: 1000px) {
  .wrapper .main aside {
    width: 26px;
  }
  .wrapper .main aside img {
    opacity: 0;
  }
}
.wrapper .main section {
  padding-left: 340px;
}
@media screen and (max-width: 1400px) {
  .wrapper .main section {
    padding-left: 330px;
  }
}
@media screen and (max-width: 1200px) {
  .wrapper .main section {
    padding-left: 280px;
  }
}
@media screen and (max-width: 1000px) {
  .wrapper .main section {
    padding-left: 53px;
  }
}
.grid {
  margin-left: 40px;
  max-width: 930px;
}
@media screen and (max-width: 1400px) {
  .grid {
    max-width: 890px;
  }
}
.panes {
  transition: 800ms;
}
@media screen and (max-width: 1300px) {
  .panes {
    padding-right: 80px;
  }
}
@media screen and (max-width: 1300px) {
  .panes {
    padding-right: 40px;
  }
}
.pane {
  height: 100vh;
  padding-top: 220px;
  position: relative;
}
@media screen and (max-width: 1500px) {
  .pane {
    padding-top: 130px;
  }
}
@media screen and (max-width: 1000px) {
  .pane {
    height: auto;
  }
}
.pane .next {
  bottom: 300px;
}
@media screen and (max-width: 1500px) {
  .pane .next {
    bottom: 20vh;
  }
}
.pane#intro {
  padding-top: 0;
  margin-top: -84px;
}
.pane#intro .next {
  bottom: 8vh;
}
.pane#program {
  height: 150vh;
}
.pane h2.mobile {
  color: #fff;
  font-size: 2em;
  letter-spacing: 7px;
  margin-bottom: 18px;
  font-family: 'Raleway', 'Arial', sans-serif;
  font-weight: 300;
  line-height: 1.5em;
  text-transform: uppercase;
}
@media screen and (max-width: 1300px) {
  .pane h2.mobile {
    display: block;
  }
}
.flex {
  display: flex;
}
.flex .three {
  flex: 1;
  margin-bottom: 60px;
  padding-right: 10px;
}
.flex .three:last-child {
  padding-right: 0;
}
@media screen and (max-width: 1000px) {
  .flex .three {
    margin-bottom: 30px;
  }
}
span.label {
  color: #fff;
  font-size: 0.4em;
  left: 60px;
  letter-spacing: 2px;
  position: absolute;
  text-transform: uppercase;
  top: 7px;
  transition: all 300ms ease;
  font-family: 'Raleway', 'Arial', sans-serif;
  font-weight: 700;
  line-height: 1.5em;
  line-height: 1.1em;
}
span.label.multi {
  top: 2px;
}
[class^="icon-"],
[class*=" icon-"] {
  font-size: 2em;
  padding: 0 0 40px;
  position: relative;
  text-decoration: none;
}
li a {
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 400ms ease;
}
li a:hover {
  opacity: 0.9;
}
li.active span,
li.active a {
  color: #fff;
  opacity: 1;
}
li.active a:before {
  color: #fff;
  opacity: 1;
}
li:hover.active a:before {
  color: #fff;
}
li a:hover:before {
  color: #fff;
  opacity: 1;
}
.logo.fade {
  display: none;
  left: 30px;
  position: absolute;
  top: 66px;
  width: 245px;
}
@media screen and (max-width: 1200px) {
  .logo.fade {
    visibility: hidden;
  }
}
.logo.fade.snipe {
  visibility: hidden;
}
@media screen and (max-width: 1200px) {
  .logo.fade.snipe {
    visibility: visible;
    left: 20px;
    top: 20px;
    width: 30px;
  }
}
#intro .logo {
  width: 523px;
  margin-bottom: 62px;
  margin-top: 167px;
}
@media screen and (max-width: 1200px) {
  #intro .logo {
    margin-top: 108px;
    width: 333px;
  }
}
@media screen and (max-width: 700px) {
  #intro .logo {
    margin-bottom: 47px;
    width: 222px;
  }
}
.poop:target .logo.small {
  display: block;
}
a {
  color: #907a62;
  text-decoration: none;
  transition: color 400ms ease;
}
a:hover {
  color: #f9d426;
}
.tagline {
  font-size: 1.625em;
  letter-spacing: 0;
  margin-bottom: 40px;
  padding-bottom: 0;
  font-family: 'Vollkorn', 'Arial', sans-serif;
  font-weight: 700;
  line-height: 1.5em;
  line-height: 1.65em;
  text-transform: none;
}
@media screen and (max-width: 900px) {
  .tagline {
    font-size: 1.3em;
    font-weight: 400;
    line-height: 1.5em;
    margin-bottom: 20px;
  }
}
h2.subhead {
  font-size: 1.375em;
  margin-bottom: 40px;
  font-family: 'Vollkorn', 'Arial', sans-serif;
  font-weight: 400;
  line-height: 1.5em;
  font-style: italic;
  line-height: 1.636em;
}
@media screen and (max-width: 900px) {
  h2.subhead {
    margin-bottom: 20px;
    line-height: 1.3em;
  }
}
p.intro {
  font-size: 1.125em;
  font-family: 'Raleway', 'Arial', sans-serif;
  font-weight: 400;
  line-height: 1.5em;
  line-height: 1.666em;
}
p.subhead {
  font-size: 1.125em;
  margin-bottom: 30px;
  font-family: 'Vollkorn', 'Arial', sans-serif;
  font-weight: 400;
  line-height: 1.5em;
  line-height: 1.666em;
}
@media screen and (max-width: 1200px) {
  p.subhead {
    line-height: 1.4em;
    margin-bottom: 15px;
  }
}
h3.headline {
  font-size: 1.125em;
  letter-spacing: 1px;
  margin-bottom: 10px;
  font-family: 'Raleway', 'Arial', sans-serif;
  font-weight: 400;
  line-height: 1.5em;
  line-height: 1.333em;
  text-transform: uppercase;
}
@media screen and (max-width: 1300px) {
  h3.headline {
    padding-bottom: 0;
  }
}
@media screen and (max-width: 1000px) {
  h3.headline {
    letter-spacing: 0;
    font-family: 'Vollkorn', 'Arial', sans-serif;
    font-weight: 400;
    line-height: 1.5em;
    text-transform: none;
  }
}
.three li {
  font-size: 1.125em;
  padding-bottom: 10px;
  font-family: 'Vollkorn', 'Arial', sans-serif;
  font-weight: 700;
  line-height: 1.5em;
  line-height: 1.2em;
}
@media screen and (max-width: 1000px) {
  .three li {
    font-size: 1em;
    font-weight: 400;
  }
}
.three li.head {
  font-size: 1.25em;
  letter-spacing: 3px;
  margin-bottom: 10px;
  font-family: 'Vollkorn', 'Arial', sans-serif;
  font-weight: 700;
  line-height: 1.5em;
  text-transform: uppercase;
}
@media screen and (max-width: 1000px) {
  .three li.head {
    margin-bottom: 0;
  }
}
ul.reg {
  padding: 0px 0px 30px 60px;
}
ul.reg li {
  font-size: 1em;
  padding-bottom: 10px;
  font-family: 'Raleway', 'Arial', sans-serif;
  font-weight: 400;
  line-height: 1.5em;
  line-height: 1.2em;
  list-style: circle;
}
.name {
  opacity: 0;
}
.staff {
  height: 28vh;
  position: relative;
}
@media screen and (max-width: 800px) {
  .staff {
    display: none;
  }
}
.staff img {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  transition: -webkit-filter 400ms ease;
  transition: filter 400ms ease;
  transition: filter 400ms ease, -webkit-filter 400ms ease;
  width: 140px;
  z-index: 0;
}
.staff a {
  bottom: 0;
  color: #fff;
  position: absolute;
}
.staff a:first-child {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
  z-index: 1;
}
.staff a:hover img {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}
.staff a:hover .name {
  opacity: 1;
}
.staff a.selected .name {
  background-color: #907a62;
  opacity: 1;
  z-index: 2;
}
.staff a.selected img {
  -webkit-filter: none;
          filter: none;
}
.staff a:first-child .name {
  background-color: #907a62;
  z-index: 2;
}
.staff a:hover .name {
  z-index: 3;
}
.staff .name {
  background-color: #0a3a6e;
  font-size: 0.8em;
  height: 10px;
  left: 36%;
  letter-spacing: 2px;
  padding: 4px 15px 14px 40px;
  position: absolute;
  font-family: 'Raleway', 'Arial', sans-serif;
  font-weight: 300;
  line-height: 1.5em;
  text-transform: uppercase;
  top: -50px;
  transition: opacity 400ms ease;
  white-space: nowrap;
  width: auto;
  z-index: 9;
}
.staff .name.bottom {
  bottom: 17px;
  top: inherit;
}
.staff .name.bottom:before {
  top: -16px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.staff .name:before {
  background: url("http://zackmaddox.com/sec/images/pin.svg") no-repeat center left transparent;
  content: '';
  display: block;
  height: 50px;
  left: -3px;
  position: absolute;
  top: -5px;
  width: 50px;
}
.staff .name:hover {
  color: #fff;
  cursor: pointer;
}
.bio:first-child {
  display: block;
}
.bio {
  display: none;
}
.bio.show {
  display: block;
}
.evans {
  left: -20px;
}
.montgomery {
  left: 36%;
}
.mathis {
  left: 54%;
}
.mangrum {
  left: 86%;
}
.sager {
  left: 65%;
}
.stanley {
  left: 17%;
}
.hall {
  left: 9%;
}
.stites {
  left: 27%;
}
.bilyeu {
  left: 76%;
}
.kinard {
  left: 45%;
}
.bio {
  margin: 40px 0 0 27px;
  position: relative;
}
.bio:after {
  clear: both;
  content: '';
  display: block;
}
.bio:before {
  background: url("http://zackmaddox.com/sec/images/pin.svg") no-repeat center left transparent;
  content: '';
  display: block;
  height: 50px;
  left: -56px;
  position: absolute;
  top: -16px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  width: 50px;
}
.bio .fax:hover {
  color: inherit;
  transition: none;
}
.bio h4.employee {
  font-size: 0.9375em;
  padding-bottom: 8px;
  font-family: 'Raleway', 'Arial', sans-serif;
  font-weight: 600;
  line-height: 1.5em;
  letter-spacing: 3px;
  line-height: 1.2em;
  text-transform: uppercase;
}
@media screen and (max-width: 900px) {
  .bio h4.employee {
    padding-bottom: 4px;
  }
}
.bio h5.title {
  font-size: 0.6875em;
  padding: 5px 0;
  font-family: 'Raleway', 'Arial', sans-serif;
  font-weight: 400;
  line-height: 1.5em;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.bio a {
  color: #fff;
  display: block;
  font-size: 0.9375em;
  font-family: 'Raleway', 'Arial', sans-serif;
  font-weight: 400;
  line-height: 1.5em;
  line-height: 2em;
}
.bio a:hover {
  color: #907a62;
}
.bio a.email {
  font-size: 0.8em;
  letter-spacing: 2px;
  font-family: 'Raleway', 'Arial', sans-serif;
  font-weight: 400;
  line-height: 1.5em;
  line-height: 2em;
  text-transform: uppercase;
}
.bio a.headshot {
  display: none;
}
.bio .card {
  float: left;
  width: 32%;
}
.bio .story {
  float: left;
  margin-left: 3%;
  width: 65%;
}
.bio .story p {
  font-size: 1em;
  font-family: 'Vollkorn', 'Arial', sans-serif;
  font-weight: 400;
  line-height: 1.5em;
  line-height: 1.6em;
  padding-bottom: 20px;
}
@media screen and (max-width: 800px) {
  .bio {
    border: 1px solid #fff;
    display: block;
    height: auto;
    padding: 20px 0 20px 20px;
  }
  .bio:before {
    left: -36px;
    top: 4px;
  }
  .bio h4.employee {
    padding-top: 3px;
  }
  .bio .story {
    float: right;
    margin-right: 3%;
    width: 64%;
  }
  .bio .card {
    float: left;
    width: 30%;
    margin-left: 0;
  }
  .bio .card .fax {
    display: none;
  }
  .bio .modal-content p {
    font-size: 1em;
  }
}
@media screen and (max-width: 600px) {
  .bio .story,
  .bio .card {
    float: none;
    margin: 0;
    width: 90%;
  }
  .bio .card {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 400px) {
  .bio {
    border: none;
    padding: 0;
  }
  .bio:before {
    left: -54px;
    top: -14px;
  }
  .bio a.arrow {
    margin-top: 0;
  }
}
#perspective p.intro {
  line-height: 1.5em;
  padding-bottom: 20px;
}
#perspective p.intro:nth-child(3) {
  margin-top: 40px;
}
p.q {
  font-size: 1.125em;
  font-family: 'Vollkorn', 'Arial', sans-serif;
  font-weight: 500;
  line-height: 1.5em;
  line-height: 1.333em;
  padding-top: 36px;
}
@media screen and (max-width: 1000px) {
  p.q {
    padding-top: 26px;
  }
}
p.a {
  font-size: 1em;
  border-bottom: 1px solid rgba(255,255,255,0.5);
  font-family: 'Raleway', 'Arial', sans-serif;
  font-weight: 300;
  line-height: 1.5em;
  line-height: 1.333em;
  padding: 14px 0 36px;
}
@media screen and (max-width: 1000px) {
  p.a {
    padding-bottom: 26px;
  }
}
.forms {
  position: relative;
}
#resources p.intro {
  line-height: 1.25em;
  margin-top: 75px;
}
#resources p.intro:first-of-type {
  margin-top: 0;
}
a.arrow {
  color: #fff;
  display: block;
  font-size: 0.8em;
  letter-spacing: 2px;
  margin-top: 20px;
  font-family: 'Raleway', 'Arial', sans-serif;
  font-weight: 300;
  line-height: 1.5em;
  text-align: right;
  text-transform: uppercase;
  transition: color 400ms ease;
}
a.arrow:after {
  content: "\e902";
  font-family: 'ngu';
  padding-left: 10px;
  transition: all 400ms ease;
}
a.arrow:hover {
  color: #f9d426;
}
a.arrow:hover:after {
  margin-right: -10px;
  padding-left: 20px;
}
a.arrow .full {
  display: inline;
}
@media screen and (max-width: 1000px) {
  a.arrow .full {
    display: none;
  }
}
@media screen and (max-width: 1000px) {
  a.arrow .mobile {
    display: inline;
  }
}
a.next {
  bottom: 8vh;
  color: #fff;
  font-size: 9px;
  letter-spacing: 4px;
  position: absolute;
  font-family: 'Raleway', 'Arial', sans-serif;
  font-weight: 400;
  line-height: 1.5em;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}
@media screen and (max-width: 1300px) {
  a.next {
    display: none;
  }
}
a.next span {
  -webkit-animation: next 1s ease 3s infinite alternate;
          animation: next 1s ease 3s infinite alternate;
  bottom: 0;
  color: #fff;
  padding: 0;
  position: relative;
  text-align: center;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  width: 100%;
}
.tab {
  top: 0;
  right: 0;
  padding: 20px 54px 20px 30px;
  position: fixed;
  z-index: 9999;
}
@media screen and (max-width: 1500px) {
  .tab {
    position: relative;
  }
}
.tab a {
  color: #fff;
  display: block;
  font-size: 10px;
  letter-spacing: 3px;
  opacity: 0.5;
  position: relative;
  font-family: 'Raleway', 'Arial', sans-serif;
  font-weight: 300;
  line-height: 1.5em;
  line-height: 22px;
  text-align: right;
  text-transform: uppercase;
}
.tab a:hover {
  color: #fff;
  opacity: 1;
}
.tab a:first-child:before {
  background: url("http://zackmaddox.com/sec/images/chair.svg") no-repeat center left transparent;
  content: '';
  display: block;
  height: 40px;
  right: -40px;
  position: absolute;
  top: 0;
  width: 30px;
}
.tab a:first-child:hover:before {
  opacity: 0.5;
}
.full {
  display: block;
}
@media screen and (max-width: 1000px) {
  .full {
    display: none;
  }
}
.mobile {
  display: none;
}
@media screen and (max-width: 1000px) {
  .mobile {
    display: block;
  }
}
@media screen and (max-width: 1100px) {
  html {
    font-size: 15px;
  }
}
@media screen and (max-width: 1000px) {
  html {
    font-size: 14px;
  }
}
@media screen and (max-width: 900px) {
  html {
    font-size: 13px;
  }
}
@media screen and (max-width: 500px) {
  .six {
    display: none;
  }
  .flex {
    display: block;
    margin-bottom: 30px;
  }
  .flex:last-child {
    margin-bottom: 0;
  }
  .flex .three {
    margin-bottom: 0;
  }
}
@media screen and (max-height: 600px) {
  .wrapper .main aside {
    padding-top: 80px;
  }
  [class^="icon-"],
  [class*=" icon-"] {
    padding-bottom: 8vh;
  }
}
@media screen and (max-height: 500px) {
  .wrapper .main aside {
    padding-top: 20px;
  }
  .wrapper .main aside img {
    opacity: 0;
  }
}
@media screen and (max-height: 400px) {
  [class^="icon-"],
  [class*=" icon-"] {
    padding-bottom: 5vh;
  }
}
