
$icomoon-font-path = "http://zackmaddox.com/sec/fonts"
$icon-acorn = "\e900"
$icon-arrow-sm = "\e901"
$icon-arrow = "\e902"
$icon-boat = "\e903"
$icon-compass = "\e904"
$icon-knife = "\e905"
$icon-leaf = "\e906"
$icon-sign = "\e907"
$icon-telescope = "\e908"

@font-face
  font-family 'ngu'
  font-style normal
  font-weight normal
  src url($icomoon-font-path + '/ngu.eot?mrpzwq')
  src url($icomoon-font-path + '/ngu.eot?mrpzwq#iefix') format('embedded-opentype'), url($icomoon-font-path + '/ngu.ttf?mrpzwq') format('truetype'), url($icomoon-font-path + '/ngu.woff?mrpzwq') format('woff'), url($icomoon-font-path + '/ngu.svg?mrpzwq#ngu') format('svg')

[class^="icon-"], [class*=" icon-"]
  color: $white
  display: block
  font-family: 'ngu' !important
  font-style: normal
  font-variant: normal
  font-weight: normal
  line-height: 1
  speak: none
  text-transform: none
  /* Better Font Rendering =========== */
  -moz-osx-font-smoothing grayscale
  -webkit-font-smoothing antialiased

.icon-acorn
  &:before
    content: $icon-acorn
.icon-arrow-sm
  &:before
    content $icon-arrow-sm
.icon-arrow
  &:before
    content $icon-arrow
.icon-boat
  &:before
    content $icon-boat
.icon-compass
  &:before
    content $icon-compass
.icon-knife
  &:before
    content $icon-knife
.icon-leaf
  &:before
    content $icon-leaf
.icon-sign
  &:before
    content $icon-sign
.icon-telescope
  &:before
    content $icon-telescope
