
$darkest-blue = #0a3a6e
$dark-blue = #0a3a6e
$medium-blue = #907a62
$light-blue = #907a62
$lightest-blue = #907a62
$white = #ffffff
$darkest = #000000
$gold = #f9d426

$serif = 'Vollkorn'
$sans = 'Raleway'
$performance-font = 'Arial', sans-serif
$primary-font-size = 16px
$primary-line-height = 1.5em

$regular = 400
$bold = 700

$thin = 100
$extra-light = 200
$light = 300
$medium = 500
$semi-bold = 600
$extra-bold = 800
$black = 900

primary-type(s,w)
  font-family: s, $performance-font
  font-weight: w
  line-height: $primary-line-height

html
  color: $white
  font-size: $primary-font-size


    // Vollkorn — Regular!
    // Vollkorn — Semi-Bold
    // Vollkorn — Bold!
    // Vollkorn — Black
    //
    // Raleway — Thin!
    // Raleway — Extra-Light
    // Raleway — Light!
    // Raleway — Regular!
    // Raleway — Medium
    // Raleway — Semi-Bold!
    // Raleway — Bold
    // Raleway — Extra-Bold
    // Raleway — Black


$sidebar-width = 340px
$sidebar-vertical-padding = 35px

$layout-max-width = 1000px

$top-margin = 223px


@keyframes next
  0%
    opacity: 100%
    top: 25px
  100%
    opacity: 0
    top: 0

.nowrap
  white-space: nowrap
