
.content

  .panes

    .pane#faq
      
      a.next(href='#resources') Resources
        span.icon-arrow-sm

      h2.mobile FAQ

      h3.headline.full Below are some questions we are frequently asked. However, every situation is different, so please contact us to confirm your particular situation applies. 

      p.q Can SEC assist our entity with a TOSHA audit?
      p.a It is our intention to be a total solution to minimize the stress factors related to TOSHA audits. Generally, we can help you prepare a written audit response and provide on-site training within a few days to assure timely response to the TOSHA auditors.

      p.q Can you help me complete my OSHA 300 logs?
      p.a Yes and no.  We do not capture all data required for the OSHA 300 report in our system.  We can, however, provide a listing of the worker compensation claims that were submitted to us during the reporting period. You can then use that list to gather other necessary information-such as total days off work-from your internal payroll records and other sources.

      p.q How do the various deductibles in the program apply?
      p.a Generally, member deductibles in the TNRMT program can be categorized as either first party or third party. An example of a first party deductible is the collision deductible.  Once we agree on the damages to a member vehicle, we reduce the claim by the amount of the deductible and send a check to the member for the remainder.  The property deductible applies in exactly the same way.  A third party deductible comes in to play in a liability scenario, most often in Errors and Omission and Law Enforcement Liability claims.  In this scenario, the member is billed for the deductible once it is paid on the claim.  Expenses, such as defense attorney legal fees, do accrue to the deductible, and the member is billed once TNRMT incurs costs that meet or exceed the deductible by making a settlement with the injured party or paying reasonable expenses to defend the claim.

      a.arrow(href='#morefaq') More
      
      #morefaq.modal

        a.closebtn(href="#faq") close

        .modal-content
          .container

            p.q What subjects can SEC train our staff on?
            p.a This following is a list of some of our more popular topics.  It is not all inclusive. If a subject in which you require training is not listed it may be available but not one of our most common sessions or we can customize a session just for you. We will become competent to train on requested subjects to meet your needs. This may also include the procurement of attorneys for speaking engagements. Please Ask!

            ul
              li Active School Shooter
              li Back Safety
              li Behavior Based
              li Blood borne Pathogens
              li Ergonomics
              li Confined Space
              li Claims Reporting (Internal as well as to SEC/TNRMT)
              li Cylinders- Compressed Gas
              li Defensive Driving
              li Drug and Alcohol Abuse
              li Emergency Action Planning
              li Electrical Hazards
              li Excavation- Trenching Shoring
              li Fall Protection
              li First aid-minimal
              li Fire extinguisher
              li Forklift
              li Hand Tool Safety
              li Hazard Communication
              li Heat Stress
              li Kitchen Safety
              li Lock Out Tag Out
              li Personal Protective Equipment
              li Personal Responsibility
              li Playground
              li Mower Safety
              li Office Safety
              li Sexual Harassment
              li Stretch and Flex
              li Trenching and Shoring
              li Workers Compensation

            p.q Do we pursue recovery from an at-fault party who causes damages to a TNRMT members covered property?
            p.a If an independent, at-fault party is responsible for damages to a member’s covered property and TNRMT reimburses the member under the coverage terms, TNRMT is subrogated to the member’s legal rights against the responsible party.  It is our policy to pursue recovery against all third parties and we will seek recovery through every available recourse as long as it makes economic sense.  If we are successful in making a full recovery, we will then reimburse the members’ deductible in full as well.

            p.q A county-owned park has a concrete pad on which local kids built skate ramps. They leave them there and use them as they want. The skate ramps are not well built and the park department has put up a sign “Use At Your Own Risk”. Is the county liable if someone is injured while using poorly constructed or deteriorating equipment?
            p.a The county has premises liability coverage.  The county MAY be held liable for any bodily injury sustained on county premises.  It could be argued that the county has accepted liability by allowing these skate ramps to remain and be used on county premises.  The court would have to decide if the “USE AT YOUR OWN RISK” sign is sufficient to remove the liability of the county.  Since you say they are not well built, it would seem the county is on notice of a defective condition.  To merely put up the sign could be construed as condoning the dangerous situation, not taking appropriate steps to remedy it.  This is a topic which should be discussed with the county attorney, BUT WE WOULD RECOMMEND THEY BE REMOVED UNLESS THEY ARE DESIGNED BY AN ARCHITECT AND PROFESSIONAL INSTALLED.

            p.q Is the windshield and equipment on a fire truck covered in our policy?
            p.a The glass breakage would be covered under the comprehensive coverage with your Comprehensive deductible applied.  If the equipment is permanently attached to the fire truck, then it is considered as part of the vehicle and the appropriate Comprehensive deductible would be applied when considering the total damage to the vehicle following an accident. If the equipment is not permanently attached to the vehicle, the coverage would be under the Inland Marine and that deductible would apply should a loss occur.

            p.q What type of Training is offered by SEC?
            p.a At SEC, we believe in hands-on and face-to-face training. The practice of popping in a video tape for safety training is overdone and is one of the least effective means of communicating information. The typical training you will receive is a staff safety consultant at your location on your terms for 45 minutes to maximize the retention of information. We utilize visual aids and the latest technology to enhance learning and promote discussions that will lead to proven results. We are happy to go into the field for confined space review, hands on lock out tag out training, and other on-site training.


            a.arrow(href='#faq') FAQ
