
.content

  .panes

    .pane#faq
      
      a.next(href='#resources') Resources
        span.icon-arrow-sm

      h2.mobile FAQ

      h3.headline.full Below are some questions we are frequently asked. However, every situation is different, so please contact us to confirm your particular situation applies. 

      p.q A parent wants to let a school employee use their personal vehicle to transport a golf team to a match. Is there a form that will release the vehicle owner from liability in case of an injury to any of the passengers?
      p.a No. The owner of the vehicle cannot be released from liability. In Tennessee, the insurance follows the vehicle.

      p.q A coach sometimes drives his own vehicle to ball games to haul necessary equipment. Is his vehicle covered and is his liability covered for this operation?
      p.a Since the coach is the owner and the operator of the vehicle identified above, even though he is on school business, he is not a named insured nor is his vehicle insured. However, damage that he may do to property or person of others on school business is covered with respect to liability of the school system or its board or employees other than the coach.
      
      p.q What malpractice coverage is there for Health Department nurses?
      p.a There is incidental medical malpractice for the Health Dept. nurses who are performing duties, including dispensing drugs and vaccinations, in the capacity of their employment with the Member.  If they are performing duties outside their employment with the Member, they would need their own personal malpractice insurance.  This would pertain to temporary nurses, as well.
      
      a.arrow(href='#morefaq') More
      
      #morefaq.modal

        a.closebtn(href="#faq") close

        .modal-content
          .container

            p.q Are volunteer firemen covered under our Workers Compensation policy?
            p.a Yes. Volunteer firemen may be covered under Workers Compensation.  The TN Workers Compensation Act provides that Workers Comp coverage for volunteers, if chosen by the Member, covers medical benefits only as provided by the statute.  The Act does not provide indemnity or wage replacement for volunteers.  This benefit, as provided by the Act, is the exclusive remedy available to volunteers under the TNRMT document.  There is a form which accompanies our application that gives the Member the opportunity to select Volunteer coverage, if desired.
            
            p.q Are there any restrictions, age, etc. concerning the drivers employed by the Member?
            p.a The TNRMT does not dictate any restrictions concerning drivers or other employees.  It is assumed that the Member will not put anyone into a position before he/she is well trained, responsible, and trusted by the Member to properly perform the requirements of his/her job.  The Member puts its own liability at risk for these decisions and it is presumed they will protect their interests in employee situations.
            
            p.q Are government-owned vehicles required to have ID cards?
            p.a No. However, if you are planning on out-of-state trips, you should have an ID card. The requirements vary by state. Within the state of Tennessee, per Financial Responsibility Chapter No. 292 Public Acts, 2001, vehicles are not required to have them. They meet the Financial Requirement per section (a) (3) of the act: "The motor vehicle being operated at the time of the violation was owned by a carrier subject to the jurisdiction of the department of safety or the interstate commerce commission, or was owned by the United States, this state or any political subdivision thereof, and that such motor vehicle was being operated with the owner's consent."
            
            p.q If Tennessee State Law is followed whereby home school students are allowed to participate in school-sponsored athletics and extracurricular activities, what is the position of the TNRMT Student Accident coverage for the home-schooled students?
            p.a Under the Student and Athletic coverage, "student" is defined as a student enrolled in a participating school at the time of the accident. Since a home-schooled participant would not meet the eligibility requirements, a home-schooled student would not have any coverage under the TNRMT program. Thus, the school's athletic program should require the home-schooled student to provide proof of coverage as an additional insured for the purposes of liability to the school.
            
            p.q Is Workers Compensation provided for students who are doing work at school for which they are being paid?
            p.a Yes but this payroll must be included in the final audit for the term.
            
            p.q We will be doing extensive remodeling to one of our buildings. Will this work be covered by our liability policy?
            p.a No. You will need to have a separate builder's risk policy issued to cover this exposure.  Please contact us for assistance in securing this coverage.
            
            p.q If a volunteer, parent, employee, or student uses his or her personal vehicle to transport students to a school activity or as part of their employment, will the vehicle and its occupants be covered by the school's policy?
            p.a No. Tennessee State Law requires that the owner/operator of a vehicle is the primary person responsible for maintaining adequate coverage.

            a.arrow(href='#faq') FAQ
