
img.logo.fade(src='http://zackmaddox.com/ngu/images/logo.svg' alt='Next Generation Underwriters white logo')
img.logo.fade.snipe(src='http://zackmaddox.com/ngu/images/snipe.svg' alt='Next Generation Underwriters white logo snipe')

nav

  ul.nav(role="tablist")

    li.active
      a.icon-acorn(href='#intro') 
      
        span.label.full.multi A Tradition of 
          br
          | Strength &amp; Trust

    li
      a.loc.icon-compass(href='#foundation') 
    
        span.label.full Our Foundation
    
    li
      a.loc.icon-telescope(href='#perspective') 
    
        span.label.full Our Perspective
    
    li
      a.icon-leaf(href='#program') 
        
        span.label.full Our Program

    li
      a.icon-knife(href='#people') 
        
        span.label.full Our People

    li
      a.loc.icon-sign(href='#faq') 
    
        span.label.full.multi Frequently 
          br
          | Asked Questions
    
    li
      a.loc.icon-boat(href='#resources') 
    
        span.label.full Resources
