.content

  .panes

    .pane#intro
      
      a.next(href='#foundation') Our Foundation
        span.icon-arrow-sm

      img.logo.large(src='http://zackmaddox.com/sec/images/logo.svg' alt='Next Generation Underwriters white logo')

      h1.tagline Working to provide a sense of security, stability, 
        br.full
        | and protection for you and your organization.

        h2.subhead At SEC, we understand that employees need to be helped to recognize what is at stake for themselves, their families, their co-workers and their employers, and how to make the right choices when it comes to working safely. Our safety engineers use a proven process and methodology in their work. 

      p.intro In all phases of our programs, we work with our clients as partners. We improve our clients' abilities to work safely by consulting with and teaching management, supervisors, and employees the necessary skills to maintain and improve safety performance. As a certified agency partner with the 
        a(href='http://www.tnrmt.com/' rel='nofollow' target='_blank')
          | Tennessee Risk Management Trust 
        | (TNRMT), SEC serves government and public entities to provide a full array of innovative risk management solutions.

      p.intro We provide simple, yet effective, common-sense awareness and skills to observe and manage the kinds of attitudes and behaviors that cause injuries, failures and lawsuits against their organization. 

      .modal#testimonials
        .modal-content
          .container
            h3 Kenneth E. Carr
            h4 Lewisburg Water and Wastewater
            p "With SEC, I know I'm getting the most affordable coverage, but the service is what keeps me happy with them. They're incredibly easy to work with. They give me the freedom to not worry, knowing that we will be taken care of by them. Their knowledge of government services is critical to us and a great value to our operational security. If we had to go with someone else, it would take a lot of hard work to get back to the same level of comfort we have with SEC."
            h3 Judy Bernard
            h4 Chester County
            p "Having SEC managing our risk gives me the security that we're doing everything we can to lower our exposure to any liability. I feel like they are a valued part of our team, they make recommendations on how we can be safer, and more responsible with the taxpayer's dollars. It's good to have someone who has that expertise since I'm an educator. They are just an awesome resource to use, they will help you to improve in all areas."
            h3 Annette Sisk
            h4 Franklin County
            p "We have a really good working relationship with SEC. They are my go-to for anything I may have for my liability claims. I couldn't imagine doing my job without their knowledge. They are much more than a vendor to us, they are a strategic partner and it scares me to think what we would be without their knowledge. You're always treated on a very personal, first-name basis. It's unique, they have compassion, understanding. Even if we're not managing through a claim, they go out of their way to come see us, sometimes just to drop by and say ‘hi'."
            h3 Pat Bean
            h4 Fayetteville City Schools
            p.last "The personal service and attention we get from SEC is uncommon in this day and age. Even though we're a smaller school system, I feel that we are very valued as a customer of theirs. The security they provide for us is a very important factor to our success as a public entity. Our relationship with them means everything to us. Their expertise and knowledge is not something that could be easily replaced and we simply can't beat their prices."
            a.arrow(href='#intro') Introduction

    .pane#foundation
      
      h2.mobile Our Foundation

      a.next(href='#perspective') Our Perspective
        span.icon-arrow-sm

      h4.tagline Here at SEC, we provide simple, yet effective, common-sense awareness and skills to observe and manage the kinds of attitudes and behaviors that cause injuries, failures and lawsuits against their organization. 

      h2.subhead Find confidence with us... 
      
      p.intro Safety Engineering Consultants is committed to unsurpassed risk management by providing our clients the most responsive claims team and highest quality loss control services attainable.
      
      p.intro We offer clients personalized, comprehensive, and informative loss control consulting services. We specialize in providing customized risk control services for municipal, governmental, commercial, and industrial clients. We have designed our consulting process to enable an organization to develop a work environment that encourages safe behaviors and a positive culture.

      p.subhead The types of entities we work with on a day-to-day basis are:
      
      .flex
      
        .three
          ul
            li County &amp; City School Systems
            li Housing Authorities
            li Highway Departments
          
        .three
          ul
            li County & City Governments
            li Fire Departments
            li Emergency 911 Call Centers
                  
        .three
          ul
            li Utility & Special Districts
            li Sheriff & Police Departments
            li Human Resource Development Agencies
            


    .pane#perspective
      
      h2.mobile Our Perspective

      a.next(href='#program') Our Program
        span.icon-arrow-sm

      h2.subhead A Message From Kathy
      
      p.intro What I admire about our unique approach is that SEC engages employees at all levels of our clients' organizations, which greatly improves the potential for safety success. In all phases of our programs, we work with our clients as partners. We improve our clients' abilities to work safely by consulting with and teaching management, supervisors, and employees the necessary skills to maintain and improve safety performance. We provide simple, yet effective common-sense awareness and skills to observe and manage the kinds of attributes and behaviors that cause injuries. Our team approach is the most successful method of assuring the success of this program.

      p.intro The care we all take in dealing with our customers is what I think they appreciate so much about our partnership with them. On the front end, we investigate and determine where risks could be reduced and advise them on actions they should take. On the back end, when a claim is filed against one of our clients, we ensure a just and equitable outcome for both parties. We certainly stand behind our client, but if they are liable for wrongdoing, then we will take accountability for their actions and make things right with the claimant.

      p.intro The most enjoyable part of working here at SEC is seeing people take ownership of their safety concerns, knowing that they have the power to control a great deal of what happens in their environment with the right planning and change of behavior on their end. 

    .pane#program
      
      a.next(href='#people') Our People
        span.icon-arrow-sm
          
      h2.mobile Our Program

      h3.headline Loss Control 
      
      p.subhead SEC engages employees at all levels of our clients' organizations, which greatly improves the potential for safety success. Our unique safety engineering program is designed to empower our clients to manage their risks and loss exposures by providing both the structure and tools of a formal risk control approach. Our analysis, inspection, and evaluation methodology is designed to identify and assess the impact of loss exposures and risks of individual departments or through a client's organization. The analysis and evaluation process helps prioritize those areas which we feel can provide the most economic benefit from further loss control activities. Audits and surveys may also be used on an ongoing basis to monitor the effectiveness of risk control or safety programs currently in place. We understand that employees need to be helped to recognize what is at stake for themselves, their families, their co-workers and their employers, and how to make the right choices when it comes to working safely. Our safety engineers use a proven process and methodology in their work. Results are achieved by: 
    
      ul.reg
        li Performing a loss analysis based on information from our underwriting division
        li Explaining the results of the loss analysis to client management
        li Implementing management-driven programs to establish commitment to safety
        li Use project-driven initiatives to form safety committees and direct the programs
        li Work through safety committees to schedule training, develop programs, and promote safety awareness
        li Address federal, state, and local issues through our compliance-driven programs
        li Evaluate status of clients' attitudes, safety programs, and losses

      p.subhead We work with our clients as partners and consider them a part of our team. This team approach is the most successful method of assuring the success of the program, which consists of the following elements: 

      h3.headline Safety Awareness
      
      p.subhead We teach clients techniques to observe their own safety attitudes, thinking, and behaviors with regard to safety. We help people learn how to identify and heed early warning signs which could lead to an accident, failure or lawsuit. Attitude change toward safety concerns must precede behavior change. 
      
      h3.headline Modifying At-Risk Behavior
      
      p.subhead We provide training to induce behavior change in employees, which results in a safer overall environment and self-monitoring ability among the staff of an organization. 
      
      h3.headline Personal Responsibility
      
      p.subhead Through specialized training and self-monitoring techniques, we increase the level of personal ownership and responsibility for safety. This is a key to influencing safe individual actions. 
