.content

  .panes

    .pane#intro
      
      a.next(href='#foundation') Our Foundation
        span.icon-arrow-sm

      img.logo.large(src='http://zackmaddox.com/ngu/images/logo.svg' alt='Next Generation Underwriters white logo')

      h1.tagline We&rsquo;re here as your hedge of protection, 
        br.full
        | at your service when you need us most.

      h2.subhead Whether it&rsquo;s for a local government, a public school system, a utility district and many other public entities, NGU excels in customizing risk transfer programs specifically designed to meet each client&rsquo;s individual needs.

      p.intro We offer solutions that simply aren&lsquo;t available anywhere else for the price we can offer them. We know this because 
        a(href='#testimonials')
          | our clients tell us
        |. We are confident the service we provide to our customers is simply unmatched in the industry. As a certified agency partner with the 
        a(href='http://www.tnrmt.com/' rel='nofollow' target='_blank')
          | Tennessee Risk Management Trust 
        | (TNRMT), we serve government and public entities to provide a full array of innovative risk management solutions.

      .modal#testimonials
        .modal-content
          .container
            h3 Sandra Crouch
            h4 White County Schools
            p "I like working with NGU because they provide not only protection, but also training and they're constantly checking in to make sure that things are being carried out well. I like the personality of our representative. If he doesn't have the answer, he can always put us in touch with the people that can meet our needs, but I've never asked for anything they couldn't deliver. Having a relationship with NGU means I can rest assured that there is a professional representing our interests."
            h3 Ed Adams
            h4 Hamilton County Schools
            p "We are so grateful for the service and responsiveness of NGU. We have enjoyed our experience with them. We don't have to wait for answers, they are extremely responsive. Our relationship with NGU gives me the peace of mind that we will always be taken care of when we need them. It's hard to imagine what our risk management program would be like without NGU by our side. They keep their promises and that's a trust you can't put a price tag on."
            h3 Michelle McCafferty
            h4 Summertown Utility District
            p "I like talking to a live person, not automated systems and that's the personal service that NGU provides to us. They follow up with me and I know that I can always call them in a heartbeat and they will be there. They do what they say they will do and always honor their commitments. Our risk management program was a headache before we started using NGU and now I'm happy to say it's one less thing I have to worry about."
            h3 Ingrid DeLoach
            h4 Carter County
            p.last "I don't think there's anyone out there like NGU. Every one of my experiences with them has been very good. They have always been proactive, not reactive and I would highly recommend them to anyone. They are loyal and responsive to us and we return that loyalty and greatly appreciate what they do for us. They are always looking out for our best interests to see where we can improve, so in a way, they're like a security blanket to me."
            a.arrow(href='#intro') Our Tradition

    .pane#foundation
      
      h2.mobile Our Foundation

      a.next(href='#perspective') Our Perspective
        span.icon-arrow-sm

      h4.tagline Since 1999, we have been covering public entities for their risk management needs. Our track record speaks for itself and we stand behind our solid commitment to being here for our customers to make sure they are taken care of in their time of need. 

      h2.subhead Truly, a foundation of strength and trust...
      
      p.intro Founded in 1999 by  John Evans, NGU Risk Management serves as the program administrator for the Tennessee Risk Management Trust programs of insurance (TNRMT), covering public entities for their general liability, property, casualty and other insurance and risk management needs. NGU provides a direct access or Agency Partnership with Tennessee's most advanced insurance pool program. NGU provides marketing, underwriting, and risk management services for the TNRMT in addition to serving a broader array of risk management needs to public entities such as local governments, public schools, and utility districts, across the state of Tennessee. 

    .pane#perspective
      
      h2.mobile Our Perspective

      a.next(href='#program') Our Program
        span.icon-arrow-sm

      h2.subhead A Message From Betsey
      
      p.intro Thank you for taking a look at NGU and what we have to offer you in serving your risk management needs. Our corporate philosophy emphasizes creativity, innovation, and professionalism with a commitment to serving the public sector's insurance and risk management needs. What makes our perspective unique here at NGU is that we are human beings with families and personal aspirations just like you. We understand risk and have experienced loss in our own lives and working environments, so we know firsthand the pain and frustration that can come with those experiences. But we also know what it takes to make sure you are properly protected in the event of a loss or claim, so you can rest assured that you are taken care of when you're with us. 
      
      p.intro We take our position very seriously, working on behalf of entities that serve the public in making sure that you are properly protected against any liabilities, and fairly treated when a claim is filed. Many of us have served in the public sector, so we know you have enough to worry about watching out for the public good. We make sure that the coverage we create for you is ideally suited to your unique needs and we respect the importance of our relationship with you. NGU offers solutions that simply aren't available anywhere else for the price we can offer them. We know this because our clients tell us. And we are confident that the service we provide to our customers is simply unmatched in the industry. We are proud to say our client retention is high and our rapid growth rate is a testament to our success. 

    .pane#program
      
      a.next(href='#people') Our People
        span.icon-arrow-sm
          
      h2.mobile Our Program

      h3.headline.six As a certified agency partner with the Tennessee Risk Management Trust (TNRMT), NGU serves government and public entities to provide a full array of innovative risk management solutions.

      p.subhead The types of entities we work with on a day-to-day basis are:
      
      .flex
      
        .three
          ul
            li County &amp; City School Systems
            li Housing Authorities
            li Highway Departments
          
        .three
          ul
            li County & City Governments
            li Fire Departments
            li Emergency 911 Call Centers
                  
        .three
          ul
            li Utility & Special Districts
            li Sheriff & Police Departments
            li Human Resource Development Agencies
            
      h3.headline The following is a list of the policies we most commonly place. 
      
      p.subhead.six Other coverages and markets are available should you have an exposure that is not addressed here. 
      
      .flex
        
        .three
          ul.reg
            li.head.full Property
            li Inland Marine
            li Boiler &amp; Machinery
            li Crime/Employee Dishonesty
            li Auto Physical Damage
            li Flood
            li Builders Risk
      
        .three
          ul.reg
            li.head.full Liability
            li Workers Compensation
            li Employers Liability
            li General Liability
            li Auto Liability
            li Errors &amp; Omissions
            li Directors &amp; Officers
            li Employee Practices Liability
      
        .three
          ul.reg
            li.head.full Specialty 
              span Lines
            li Aircraft and Airport Liability
            li Pollution Liability
            li Student Accident
            li Surety Bonds
            li Public Official Bonds
            li Cyber Liability
            li School Board Legal Liability
