
.content

  .panes

    .pane#people
      
      a.next(href='#faq') FAQ
        span.icon-arrow-sm

      h2.mobile Our People

      h3.headline Our employees are a family who care for one another and for our customers. Each one of our people is dedicated to serving the risk management needs of our customers and treating them with the care they deserve.


      .staff

        a.evans.selected(data-name='evans')
          img(src='images/john-evans.png' alt='John Evans')
          .name John Evans

        a.greenup(data-name='greenup')
          img(src='images/kyle-greenup.png' alt='Kyle Greenup')
          .name Kyle Greenup

        a.mathis(data-name='mathis')
          img(src='images/jeff-mathis.png' alt='Jeff Mathis')
          .name Jeff Mathis

        a.montgomery(data-name='montgomery')
          img(src='images/tom-montgomery.png' alt='Tom Montgomery')
          .name Tom Montgomery

        a.sullivan(data-name='sullivan')
          img(src='images/betsey-sullivan.png' alt='Betsey Sullivan')
          .name.bottom Betsey Sullivan

        a.robinson(data-name='robinson')
          img(src='images/donna-robinson.png' alt='Donna Robinson')
          .name.bottom Donna Robinson

        a.peace(data-name='peace')
          img(src='images/joan-peace.png' alt='Joan Peace')
          .name.bottom Joan Peace

        a.keith(data-name='keith')
          img(src='images/ruby-keith.png' alt='Ruby Keith')
          .name.bottom Ruby Keith



      .bios

        .bio#evans.selected(data-name='evans')
          .card
            h4.employee John Evans
            h5.title President
            a.email(href='mailto:jevans@ngutn.com') email John
            a(href='tel:16158225454') phone: (615) 822-5454
            a.fax fax: (615) 824-1980
          .story
            p John has been serving the risk management needs of local governments in some form or fashion since 1975. He founded NGU in 1999 after an accomplished 15-year career at Arthur J. Gallagher & Co., where he held several leadership positions and was decorated with numerous achievement awards for producing and product innovation, including a banner year in 1997 when he was honored as the #1 producer in the entire nation. Maybe this success is why some of John's competitors have cause for concern, we're not sure. 
            
            a.arrow(href="#moreevans") More
            
          .modal#moreevans
            .modal-content
              .container
                p But his customers and employees sure seem to love and respect him and that's what's important to him. John is responsible for creating a culture at NGU where everybody loves to work here. They really do and it's an uncommon thing to see. 
                p John also has a history of serving in the public sector, having been elected as mayor of Clinton, Arkansas, at the age of 21, a position he held from 1975-1978, then as councilman for the City of North Little Rock from 1985-1989. John also ran for the Arkansas state legislature in 1990. This public service gives him the unique perspective that helps him understand the public sector and government entities unlike most. 
                p "I want each of my clients and employees to get the absolute best there is to offer and know exactly what to expect," says John. "I want them to feel comfortable in their relationship with me and this company and know that their decision to work with NGU is the best decision they have ever made. I want them to know that I am always here when they need help. I love to see someone walk into my office or life with a look of despair and see them leave with a smile on their face, motivated to tackle the world." 
                p Not shy about his beliefs in the proper role of government and personal responsibility, John uses his time, influence and resources to affect the political process at the local, state and federal level. He regularly supports candidates and causes that share his belief in limited government and individual liberties. When John is not working, he enjoys quiet time alone for introspection and self-evaluation, which he does in many ways like riding a lawnmower or working with any piece of machinery that doesn't talk back to him. You might also find him sitting on a backhoe digging tree stumps or bush hogging on his farm, woodworking, rebuilding an engine for a friend's car or welding together a boat dock that he designed and built from scratch. We know it's weird that this kind of stuff is fun and relaxing to him, but it is. 
                p John was born and raised in Clinton, Arkansas, where his father was a state trooper and his grandfather was a grass and cattle farmer. He gained a healthy respect for law and order from his father, but he spent most of his free time with his grandfather learning on the farm. John came to Tennessee in 1994 after the pool program he started for the state's schools began to grow so much, he needed to be here to oversee its operations and growth. And he's loved it here ever since.
                a.arrow(href='#people') Our People

        .bio#sullivan(data-name='sullivan')
          .card
            h4.employee Betsey Sullivan
            h5.title Customer Service Representative
            a.email(href='mailto:bsullivan@ngutn.com') email Betsey
            a(href='tel:16158225454') phone: (615) 822-5454
            a.fax fax: (615) 824-1980
          .story
            p Betsey has been with NGU since 1999, coming aboard roughly three months after John Evans founded the company. She has an uncanny ability to soothe clients who get irritated or concerned over their current situation. Given her position, it's important for her to be able to multi-task, which she does considerably well. It's her job to make sure that our customers talk to a live person to resolve their issues and she's always there for them. She has been in the insurance industry since 1978, so she has lots of experience making sure that her customers are taken care of. 
            
            a.arrow(href="#moresullivan") More

          .modal#moresullivan
            .modal-content
              .container
                p "I have been asked many times to resend documents to clients that they already have but they know I can put my hands on them faster than they can. Some people might find that annoying, but I embrace it because it means they trust that I have everything in order for them," says Betsey. "I just enjoy making people happy." 
                p Her biggest personal passion is her family. She enjoys spending time with her children and grand kids. She enjoys traveling, reading, swimming, boating, quilting, making crafts, sewing and watching Alabama football. She is passionate about finding homes for abandoned dogs and cats, so Betsey loves volunteering at animal shelters. And every afternoon, her own dog takes her for a walk. She also does volunteer work at her church and her granddaughters' school. 
                p Betsey was born in South Dakota but, as the daughter of a military family, she grew up all around the country.  When her father retired, they moved to Tennessee, where she went to college, but she moved around a couple times before settling in Nashville.
                a.arrow(href='#people') Our People

        .bio#robinson(data-name='robinson')
          .card
            h4.employee Donna Robinson
            h5.title Customer Service Representative
            a.email(href='mailto:drobinson@ngutn.com') email Donna
            a(href='tel:16158225454') phone: (615) 822-5454
            a.fax fax: (615) 824-1980
          .story
            p Donna joined NGU in 2001 after a former co-worker said she should come and work here. She is an expert in working with public entities and as a customer service representative, she has to be able to think on her feet and do whatever it takes to make our customers happy. And we have happy customers, so we owe much of that to Donna, even though now she only comes in a couple days a week or more during our busy season. She's been doing this for more than 25 years, so she's spent a long time honing the craft of getting it done right the first time. 
            
            a.arrow(href="#morerobinson") More

          .modal#morerobinson
            .modal-content
              .container
                p "To the best of my ability, I am going to make sure that the client is taken care of," says Donna. "I'm proud to say I have a good working relationship with all my clients." 
                p Never one to sit idle, during her time away from work, Donna's always staying busy, whether it be spending time with her daughter and her father, shopping, taking trips or doing needlework, such as hand-made Christmas stockings and crocheted baby blankets. \nDonna grew up in Macon County, Tennessee, and then followed her husband to Murfreesboro and Memphis, where he was attending college. Donna's husband passed away many years ago and she now lives with her daughter and father in Hendersonville.
                a.arrow(href='#people') Our People

        .bio#mathis(data-name='mathis')
          .card
            h4.employee Jeff Mathis
            h5.title Chief Financial Officer
            a.email(href='mailto:jmathis@ngutn.com') email Jeff
            a(href='tel:16158225454') phone: (615) 822-5454
            a.fax fax: (615) 824-1980
          .story
            p Jeff has been with NGU ever since John Evans founded the company. He was an actuary in his prior life and actually served as the actuary for the Tennessee Risk Management Trust at one point in his career. He was also a founding partner in an actuarial consulting company. But Jeff joined John at NGU pretty much from day one, fulfilling the finance function for the company. 
            
            a.arrow(href="#moremathis") More

          .modal#moremathis
            .modal-content
              .container
                p Jeff is known for speaking multiple languages, but not like Mandarin or Portuguese. No, Jeff speaks actuary, auditing, accounting, IT systems, insurance and corporate. And it's no wonder he's so well versed; he's been working in the insurance industry since 1984. He has a knack for plowing through numbers and data, then being able to translate that into information that someone can understand and act on. 
                p "I love the team that we have assembled here, says Jeff. "It is a blast to come to work every day with these great folks.  I enjoy digging into the numbers and doing those unseen tasks that make it all work that drive most folks crazy." 
                p When he's not working, Jeff will be found with his kids participating in their activities and staying very active in leadership positions with his church. He loves being at his kids' football and baseball games as much as he enjoys singing in the church choir, where he also plays the handbells. Always trying to put his financial skills to good use, he is the treasurer at his church and the Donelson Christian Academy Athletic Booster Club. He also serves on the board for Mt. Juliet Little League and serves as an assistant for Music City Classics baseball Team, which his oldest son plays for. 
                p A Tennessee native, Jeff grew up in nearby Gallatin. With the exception of three years spent in Texas, he has spent his life in Middle Tennessee, including his college years spent at MTSU in Murfreesboro.",
                a.arrow(href='#people') Our People

        .bio#peace(data-name='peace')
          .card
            h4.employee Joan Peace
            h5.title Receptionist
            a.email(href='mailto:jpeace@ngutn.com') email Joan
            a(href='tel:16158225454') phone: (615) 822-5454
            a.fax fax: (615) 824-1980
          .story
            p "I can truly say that I love my job and have learned so much while I've been here. It is a privilege to work here. I hope I can share a smile and be the same each day," says Joan. Either in the office or away, Joan is passionate about her relationship with God. When not working, she loves spending time with her family and friends and working at her church. Originally from southeastern Kentucky, she moved to Tennessee with her husband where they have lived for 36 of their 47 married years. Though she's never really won any formal awards, she is always known as one of the NGU's most valued employees.

        .bio#greenup(data-name='greenup')
          .card
            h4.employee Kyle Greenup
            h5.title Vice President, Information Technology
            a.email(href='mailto:kgreenup@ngutn.com') email Kyle
            a(href='tel:16158225454') phone: (615) 822-5454
            a.fax fax: (615) 824-1980
          .story
            p Kyle started out at NGU back in 2000 working the phones while he was attending college and studying for IT certifications. He kept improving his knowledge and skills and eventually became the go-to tech geek for the company, which he has been doing now since 2003. Though he doesn't interface with our customers, he considers the employees of NGU, SEC, and TNRMT his clientele, a mindset that has served him well in his role. 
            
            a.arrow(href="#moregreenup") More

          .modal#moregreenup
            .modal-content
              .container
                p "I strive to make their job easier and more efficient while providing an up-to-date, secure, available, and stable IT infrastructure," says Kyle. "I do my best to be proactive with maintenance to minimize downtime so they can work and serve our clients without interruption from any technical problem." 
                p Of course, when you're the IT guy, you have to use your skills outside of the company and he often finds himself taking care of his extended family's computer and technology needs as well. He loves learning new technologies and is constantly adding to his geek power. And while he can't stand reality TV, he enjoys watching documentaries on the planet, universe, survival, and wildlife. 
                p Kyle is always talking about his sons, Ethan, Eli, and his newest addition Kingston.  Kyle absolutely loves spending time with them. Together, they enjoy basketball, soccer, video games, Judo, and Wado-Ryu Karate. Kyle loves showing his sons the world around them. Kyle's hidden talents include his alleged exceptional cooking abilities. His family swears by his carrot cake, which they say is awesome. He also does a mean Cajun turkey for Thanksgiving that the holiday is lackluster without, so he has made two every year for nearly the last decade. And during the summer, Kyle is master of the grill, firing up some tasty burgers, steaks, and brats that are apparently all the rave by those who have had the pleasure. (Or at least that's what he tells us.)
                a.arrow(href='#people') Our People

        .bio#keith(data-name='keith')
          .card
            h4.employee Ruby Keith
            h5.title Customer Service Representative
            a.email(href='mailto:rkeith@ngutn.com') email Ruby
            a(href='tel:16158225454') phone: (615) 822-5454
            a.fax fax: (615) 824-1980
          .story
            p Ruby joined NGU in early 2012 when she was referred to the company by a retiring NGU employee who was helping find her replacement. When Ruby interviewed for the job, it felt like a perfect fit for her, having worked in the insurance business for 25 years serving very similar clients. NGU agreed that Ruby was the perfect addition to the company and she was promptly hired. She obtained her insurance agent's license in 2005. 
            
            a.arrow(href="#morekeith") More

          .modal#morekeith
            .modal-content
              .container
                p Ruby prides herself on her ability to work with people, making sure she tends to their needs and effectively resolves issues they have encountered with compassion and professionalism. It's not just customers who appreciate Ruby's style, it's her teammates as well. Her reputation for being trusted by colleagues is something she is proud of and works hard to achieve. She is the consummate team player, always supporting others and staying in constant communication to ensure that issues are resolved quickly and appropriately. 
                p "My clients will compliment me on the way I handle their needs in a timely, courteous manner," says Ruby. "If I do not have the answer, I won't stop until I find the answer for them. What drives me and so many of us is the fact that when we're not working we're customers too. We know what it's like to not be respected as a customer, so it motivates me to make sure my customers feel valued, understood and cared for." 
                p When she's not busy making clients happy, Ruby likes to give of her time by helping to fundraise for the Ronald McDonald House and participating in walks for various other charities such as the American Cancer Society, Autism Speaks and St. Jude Children's Hospital. 
                p Ruby grew up in Old Hickory, Tennessee, a suburb east of Nashville. Most of her family is in the Nashville area so she considers it home and plans to always be here. With such a large family, as one of 7 children, she often finds herself going to plays, concerts and other functions with her grandchildren and many nieces and nephews. She also enjoys vacationing with them during the summers. (This explains why she's such a people person.) 
                p Ruby hopes to be remembered as someone people can count on if they need a friend or encouragement, someone who can cheer others up when they are down.  Professionally, she wants to be thought of as someone who always works hard and keeps a positive attitude about any project that she takes on. NGU is lucky to have her.
                a.arrow(href='#people') Our People

        .bio#montgomery(data-name='montgomery')
          .card
            h4.employee Tom Montgomery
            h5.title Vice President
            a.email(href='mailto:tmontgomery@ngutn.com') email Tom
            a(href='tel:16158225454') phone: (615) 822-5454
            a.fax fax: (615) 824-1980
          .story
            p Tom joined NGU's sister company, Safety Engineering Consultants, in 2002 to build on a successful career in the insurance claims business that spans more than two decades and has included stints with three major carriers and a multi-national broker. Tom began his career in the insurance claims business in 1981. Tom has earned the professional designations Associate in Claims (AIC) and Chartered Property and Casualty 
              span.nowrap Underwriter (CPCU). 
            
            a.arrow(href="#moremontgomery") More

          .modal#moremontgomery
            .modal-content
              .container
                p His clients seek his counsel and advice on all insurance issues and he is respected in the industry for his broad knowledge base on liability, claims and loss control. His co-workers appreciate his hands-off management style and his servant-leader approach. 
                p Tom obtained his agent's license in 2006 and for the past few years has taken on an increasingly active role in NGU's agency management, sales and marketing while he continues to manage and lead SEC.  Tom's claims management background has given him a broad knowledge of coverage and insurance products that has proven to be an asset to each company. 
                p An avid outdoorsman, Tom loves his horses, though he only owns two now. He doesn't have the horses for show, but to ride, and he enjoys going camping on horseback. Believe it or not, Tom had a horse before he had his first bicycle. When he's not in the office or with his horses, you'll find Tom spending time with his children and 3 grandchildren, hiking, hunting, and during football season, cheering on the Tennessee Titans at LP Field. He and his wife also love traveling and dining out together. 
                p Born in Portland, Oregon, Tom and his family moved to Tennessee when he was in the 3rd grade, so he considers this home for him.  He graduated from Middle Tennessee State University, and has lived in and around Nashville ever since.  Tom's sense of humor is probably what he's best known for, and with all of the important work going on at NGU, it's good to have a little comic relief now and then.
                a.arrow(href='#people') Our People
                
