
.content

  .panes

    .pane#people
      
      a.next(href='#faq') FAQ
        span.icon-arrow-sm

      h2.mobile Our People

      h3.headline Our employees are a family who care for one another and for our customers. Each one of our people is dedicated to serving the risk management needs of our customers and treating them with the care they deserve.


      .staff

        a.evans.selected(data-name='evans')
          img(src='images/john-evans.png' alt='John Evans')
          .name John Evans

        a.mathis(data-name='mathis')
          img(src='images/jeff-mathis.png' alt='Jeff Mathis')
          .name Jeff Mathis

        a.montgomery(data-name='montgomery')
          img(src='images/tom-montgomery.png' alt='Tom Montgomery')
          .name Tom Montgomery

        a.mangrum(data-name='mangrum')
          img(src='images/paul-mangrum.png' alt='Paul Mangrum')
          .name Paul Mangrum

        a.sager(data-name='sager')
          img(src='images/mark-sager.png' alt='Mark Sager')
          .name Mark Sager

        a.stanley(data-name='stanley')
          img(src='images/tom-stanley.png' alt='Tom Stanley')
          .name Tom Stanley

        a.hall(data-name='hall')
          img(src='images/jennifer-hall.png' alt='Jennifer Hall')
          .name.bottom Jennifer Hall

        a.kinard(data-name='kinard')
          img(src='images/kathy-kinard.png' alt='Kathy Kinard')
          .name.bottom Kathy Kinard

        a.stites(data-name='stites')
          img(src='images/chris-stites.png' alt='Chris Stites')
          .name Chris Stites

        a.bilyeu(data-name='bilyeu')
          img.bilyeu(src='images/mark-bilyeu.png' alt='Mark Bilyeu')
          .name Mark Bilyeu



      .bios

        .bio#evans.selected(data-name='evans')
          .card
            h4.employee John Evans
            h5.title President
            a.email(href='mailto:jevans@ngutn.com') email John
            a(href='tel:16158225454') phone: (615) 822-5454
            a.fax fax: (615) 824-1980
          .story
            p John has been serving the risk management needs of local governments in some form or fashion since 1975. He founded NGU in 1999 after an accomplished 15-year career at Arthur J. Gallagher & Co., where he held several leadership positions and was decorated with numerous achievement awards for producing and product innovation, including a banner year in 1997 when he was honored as the #1 producer in the entire nation. Maybe this success is why some of John's competitors have cause for concern, we're not sure. 
            
            a.arrow(href="#moreevans") More
            
          .modal#moreevans
            .modal-content
              .container
                p But his customers and employees sure seem to love and respect him and that's what's important to him. John is responsible for creating a culture at NGU where everybody loves to work here. They really do and it's an uncommon thing to see. 
                p John also has a history of serving in the public sector, having been elected as mayor of Clinton, Arkansas, at the age of 21, a position he held from 1975-1978, then as councilman for the City of North Little Rock from 1985-1989. John also ran for the Arkansas state legislature in 1990. This public service gives him the unique perspective that helps him understand the public sector and government entities unlike most. 
                p "I want each of my clients and employees to get the absolute best there is to offer and know exactly what to expect," says John. "I want them to feel comfortable in their relationship with me and this company and know that their decision to work with NGU is the best decision they have ever made. I want them to know that I am always here when they need help. I love to see someone walk into my office or life with a look of despair and see them leave with a smile on their face, motivated to tackle the world." 
                p Not shy about his beliefs in the proper role of government and personal responsibility, John uses his time, influence and resources to affect the political process at the local, state and federal level. He regularly supports candidates and causes that share his belief in limited government and individual liberties. When John is not working, he enjoys quiet time alone for introspection and self-evaluation, which he does in many ways like riding a lawnmower or working with any piece of machinery that doesn't talk back to him. You might also find him sitting on a backhoe digging tree stumps or bush hogging on his farm, woodworking, rebuilding an engine for a friend's car or welding together a boat dock that he designed and built from scratch. We know it's weird that this kind of stuff is fun and relaxing to him, but it is. 
                p John was born and raised in Clinton, Arkansas, where his father was a state trooper and his grandfather was a grass and cattle farmer. He gained a healthy respect for law and order from his father, but he spent most of his free time with his grandfather learning on the farm. John came to Tennessee in 1994 after the pool program he started for the state's schools began to grow so much, he needed to be here to oversee its operations and growth. And he's loved it here ever since.
                a.arrow(href='#people') Our People

        .bio#mathis(data-name='mathis')
          .card
            h4.employee Jeff Mathis
            h5.title Chief Financial Officer
            a.email(href='mailto:jmathis@ngutn.com') email Jeff
            a(href='tel:16158225454') phone: (615) 822-5454
            a.fax fax: (615) 824-1980
          .story
            p Jeff has been with NGU ever since John Evans founded the company. He was an actuary in his prior life and actually served as the actuary for the Tennessee Risk Management Trust at one point in his career. He was also a founding partner in an actuarial consulting company. But Jeff joined John at NGU pretty much from day one, fulfilling the finance function for the company. 
            
            a.arrow(href="#moremathis") More

          .modal#moremathis
            .modal-content
              .container
                p Jeff is known for speaking multiple languages, but not like Mandarin or Portuguese. No, Jeff speaks actuary, auditing, accounting, IT systems, insurance and corporate. And it's no wonder he's so well versed; he's been working in the insurance industry since 1984. He has a knack for plowing through numbers and data, then being able to translate that into information that someone can understand and act on. 
                p "I love the team that we have assembled here, says Jeff. "It is a blast to come to work every day with these great folks.  I enjoy digging into the numbers and doing those unseen tasks that make it all work that drive most folks crazy." 
                p When he's not working, Jeff will be found with his kids participating in their activities and staying very active in leadership positions with his church. He loves being at his kids' football and baseball games as much as he enjoys singing in the church choir, where he also plays the handbells. Always trying to put his financial skills to good use, he is the treasurer at his church and the Donelson Christian Academy Athletic Booster Club. He also serves on the board for Mt. Juliet Little League and serves as an assistant for Music City Classics baseball Team, which his oldest son plays for. 
                p A Tennessee native, Jeff grew up in nearby Gallatin. With the exception of three years spent in Texas, he has spent his life in Middle Tennessee, including his college years spent at MTSU in Murfreesboro.",
                a.arrow(href='#people') Our People

        .bio#montgomery(data-name='montgomery')
          .card
            h4.employee Tom Montgomery
            h5.title Vice President
            a.email(href='mailto:tmontgomery@ngutn.com') email Tom
            a(href='tel:16158225454') phone: (615) 822-5454
            a.fax fax: (615) 824-1980
          .story
            p Tom joined NGU's sister company, Safety Engineering Consultants, in 2002 to build on a successful career in the insurance claims business that spans more than two decades and has included stints with three major carriers and a multi-national broker. Tom began his career in the insurance claims business in 1981. Tom has earned the professional designations Associate in Claims (AIC) and Chartered Property and Casualty 
              span.nowrap Underwriter (CPCU). 
            
            a.arrow(href="#moremontgomery") More

          .modal#moremontgomery
            .modal-content
              .container
                p His clients seek his counsel and advice on all insurance issues and he is respected in the industry for his broad knowledge base on liability, claims and loss control. His co-workers appreciate his hands-off management style and his servant-leader approach. 
                p Tom obtained his agent's license in 2006 and for the past few years has taken on an increasingly active role in NGU's agency management, sales and marketing while he continues to manage and lead SEC.  Tom's claims management background has given him a broad knowledge of coverage and insurance products that has proven to be an asset to each company. 
                p An avid outdoorsman, Tom loves his horses, though he only owns two now. He doesn't have the horses for show, but to ride, and he enjoys going camping on horseback. Believe it or not, Tom had a horse before he had his first bicycle. When he's not in the office or with his horses, you'll find Tom spending time with his children and 3 grandchildren, hiking, hunting, and during football season, cheering on the Tennessee Titans at LP Field. He and his wife also love traveling and dining out together. 
                p Born in Portland, Oregon, Tom and his family moved to Tennessee when he was in the 3rd grade, so he considers this home for him.  He graduated from Middle Tennessee State University, and has lived in and around Nashville ever since.  Tom's sense of humor is probably what he's best known for, and with all of the important work going on at NGU, it's good to have a little comic relief now and then.
                a.arrow(href='#people') Our People
                
        #mangrum.bio(data-name='mangrum')
          .card
            h4.employee Paul Mangrum
            h5.title P/C Claims Adjuster
            a.email(href='mailto:pmangrum@ngutn.com') email Paul
            a(href='tel:16158225454') phone: (615) 822-5454
            a.fax fax: (615) 824-1980
            
          .story
            p With nearly 40 years of experience working in the insurance industry, Paul Mangrum knows a thing or two about handling claims. He’s also known for helping others and his willingness to always lend a hand—especially when it comes to being with clients every step of the way.
            
            a.arrow(href="moremangrum") More
          
        .modal#moremangrum
          .modal-content
            .container
              p Paul started his career with Liberty Mutual in Montgomery, Ala., where he worked for nearly seven year years. He then worked as a resident adjuster for American States in West Tennessee, and then moved to Nashville, where he opened a claims office for the company and served as the claims manager. When Safeco bought American States in the late 1990s, he worked as a unit manager for Safeco and then as a large-loss handler, where he mostly focused on handling litigation, coverage, and complex claims. In 2008, Liberty Mutual bought Safeco, which meant he had come full circle to where he started his career.
              p Now, as a senior claims representative, Paul focuses on investigating, evaluating, and dispositioning claims for members. Because the majority of his work involves handling claims that involve lawsuits, he often works with attorneys to discuss and update legal plans, including negotiation and settlements. And because he’s detailed oriented, regardless of who picks up one of his files, he or she knows every detail of the claim.
              p He’s passionate about learning and continuing his education, incorporating the things he’s learned over the years in his daily life. During his tenured career, he’s served as the president of the Nashville Claims Managers Counsel and also spent 28 years as an arbitrator with Arbitration Forums, hearing inter-company disputes. In 2004, he received an award for being the arbitrator of the year with Arbitration Forums.
              p In his spare time, he enjoys spending time with his family, including taking to the open road with his wife in their motorhome to go camping. He also enjoys working around the house, unless it’s football season. In that case, you’ll find him in Knoxville tailgating with family and friends and cheering on the Tennessee Vols.
              p Did you know:
              p Paul changed his college major three times—from computer science to computer programming to accounting—before earning his bachelor’s degree in business administration from Tennessee Technical University in Cookeville, Tenn.
              a.arrow(href="#people") Our People

        #sager.bio(data-name='sager')
          .card
            h4.employee Mark Sager
            h5.title P/C Claims Adjuster
            a.email(href='mailto:msager@ngutn.com') email Mark
            a(href='tel:16158225454') phone: (615) 822-5454
            a.fax fax: (615) 824-1980
            
          .story
            p Mark Sager has more than 30 years of experience handling automobile and general liability claims, and his tenured career in insurance includes working with a number of companies.
            
            a.arrow(href="moresager") More
          
        .modal#moresager
          .modal-content
            .container
              p Now, as a senior claims representative for Safety Engineering & Claims Management, he focuses on managing automobile and general liability claims for public entities other than schools. In addition to being a consummate professional and treating everyone with the respect they deserve, Mark also has a knack for staying positive and for finding the most efficient ways to resolve any challenges that come his way. That’s why it’s important for him to proactively handle claims in a timely manner.
              p “I like that there’s always something new and challenging in claims,” he said. “I believe my experience will provide the level of customer services expected by our members.”
              p When he’s not in the office, Mark enjoys doing yard work, spending time with his family, and casting a line in area lakes while teaching his grandsons how to fish.
              p Did you know...
              p Mark is one of those rare folks who not only lives in Nashville, Tennessee, but who was also born and raised here. He also attended Middle Tennessee State University, where he majored in political science and minored in English and history.
              a.arrow(href="#people") Our People
          
        #stanley.bio(data-name='stanley')
          .card
            h4.employee Tom Stanley
            h5.title P/C Claims Supervisor
            a.email(href='mailto:tstanley@ngutn.com') email Tom
            a(href='tel:16158225454') phone: (615) 822-5454
            a.fax fax: (615) 824-1980
          
          .story
            p As a Claim Supervisor, Tom has a knack for finding solutions to just about any challenge that comes his way. He also understands the importance of clear communication to ensure every claim is handled well and according to appropriate processes. As a result, his clients are kept updated on their claims, knowing they can always reach out to him if they have questions. It’s safe to say that Tom knows how to get the job done while fostering a positive work environment.

            a.arrow(href="morestanley") More
          
        .modal#morestanley
          .modal-content
            .container
              p “I immediately knew that working here would be a great opportunity,” said Tom, who joined the organization in October 2014. “Everyone is very welcoming and talented, and the environment is fantastic. It’s great working with everyone to develop better ways to serve our customers.”
              p A Nashville native, he brings 28 years of insurance-related experience—including supervising injury and litigation claims that covered multiple states.
              p Tom earned his degree in business administration from The University of Tennessee at Martin and then received his Master in Business Administration from Bethel University. And when he’s not in the office, he can be found spending time with his family, cheering on the Tennessee Volunteers and Cincinnati Reds, and working on projects around his house. He and his wife also volunteer with the Special Olympics and the Second Harvest Food Bank of Middle Tennessee.
              p Did You Know
              p Tom has a beagle. But be warned, if you ask him about his four-legged buddy, be prepared for an in-depth conversation.            
              a.arrow(href="#people") Our People
            
        #hall.bio(data-name='hall')
          .card
            h4.employee Jennifer Hall
            h5.title Claims Representative
            a.email(href='mailto:jhall@ngutn.com') email Jennifer
            a(href='tel:16158225454') phone: (615) 822-5454
            a.fax fax: (615) 824-1980
          
          .story
            p Well known for her ability to communicate well with all stakeholders, customers and teammates, Jennifer knows the importance of connecting with people on a personal level because they have real lives, unique needs and specific concerns regarding their reasons for interaction with her. Her three decades of healthcare experience gives her unique insight into the mindset of those faced with medical claims and can work with them to ensure they are understood and are taken care of.

            a.arrow(href="morehall") More
          
        .modal#morehall
          .modal-content
            .container
              p “I think if the claimant can know that we are there to make sure they are understood and valued, then I have done my job,” said Jennifer. “I’ve been on the other end of customer/business encounters and I know the difference between someone who sees me just as a menial transaction and someone who sees me as a human being. I want everyone I work with to feel respected and know that I take the trust they have placed in me very seriously.”
              p A native of the Nashville area, Jennifer is a proud mom to her son, Elliott. She enjoys hiking with her black lab, Jack and enjoys spending the weekend with all her boys, including her husband Mark, Elliott and Jack. Jennifer enjoys painting occasionally, but her modesty compels her to rank her skills in the amateur category. She hopes to be remembered as a kind person who is devoted to her family and treats others with respect and understanding.
              a.arrow(href="#people") Our People
            
        #bilyeu.bio(data-name='bilyeu')
          .card
            h4.employee Mark Bilyeu
            h5.title Safety Engineer
            a.email(href='mailto:mbilyeu@ngutn.com') email Mark
            a(href='tel:16158225454') phone: (615) 822-5454
            a.fax fax: (615) 824-1980
          
          .story
            p Mark came to SEC after he heard about the company from friends who worked here. They thought Mark would be a good fit at SEC because he’s such an outgoing guy and loves to interact with others. And that’s exactly what Mark does for us. As a safety engineer, his job is to consult with our customers and determine where they can reduce risk. One day, that might mean examining and school’s bullying policy.  The next day, it might be determining the right size for a playground to avoid injury. He’s been doing risk management consulting since 2006.
            
            a.arrow(href="morebilyeu") More
          
        .modal#morebilyeu
          .modal-content
            .container
              p “I really enjoy creating and building trusting relationships with people,” says Mark. “That’s what this business is about: trust in the people you surround yourself with. Sure, the product is important, but day in and day out, we’re really selling our credibility, our trust that we do what we say we will do, that we’re honest and forthcoming and that we’re a pleasure to be around. If we’re not having fun doing what we do here, then what’s the point? I like to think I do that to the best of my ability and our clients see that.”
              p Mark’s faith in Christ is most important to him and he enjoys being outside enjoying the great outdoors, as well as studying theology. When he’s not working, you can find Mark hunting and gardening with family and friends. He has a passion for giving through his church, the Nashville Rescue Mission and St. Jude Children’s Hospital.
              p Mark is originally from Kentucky, but moved to the Nashville area for new opportunities. He’s glad he found SEC, and we’re glad we found Mark.
              a.arrow(href="#people") Our People
                      
        #kinard.bio(data-name='kinard')
          .card
            h4.employee Kathy Kinard
            h5.title Senior Claims Representative
            a.email(href='mailto:kkinard@ngutn.com') email Kathy
            a(href='tel:16158225454') phone: (615) 822-5454
            a.fax fax: (615) 824-1980
          
          .story
            p Kathy joined the SEC team in 2006 after a long stint at a large insurance company and she truly loves what she does, which is good, because she’s been doing this since 1996. In her role as a claims representative, she is recognized for her strong communication skills and building solid relationships with her clients based on mutual trust and respect.
            
            a.arrow(href="morekinard") More
          
        .modal#morekinard
          .modal-content
            .container
              p “I enjoy working with injured claimants by walking them through the claims process with compassion, understanding, and hopefully a ray of sunshine during their time of need,” says Kathy. “I treat them like the people they are, not just another case. And I think they appreciate that from me.”
              p Kathy is passionate about her family, her pets and her church family. She cherishes her role as “Grammie K,” spending time with her two granddaughters, Gracie and Payton Skye. When she’s not working, during football season, Kathy can be found watching the games and cheering on her teams. During the summer, you’ll find her near the pool or at the lake enjoying the sunshine and the water.
              p A native of Middle Tennessee, Kathy grew up in Mt. Juliet. In 2014, she and her husband moved over to Lebanon to be close to family.
              a.arrow(href="#people") Our People
            
        #stites.bio(data-name='stites')
          .card
            h4.employee Chris Stites
            h5.title Safety Engineer
            a.email(href='mailto:cstites@ngutn.com') email Chris
            a(href='tel:16158225454') phone: (615) 822-5454
            a.fax fax: (615) 824-1980
          
          .story
            p Chris came to SEC in 2006 after a career in industrial management when he learned about the opportunity from his college roommate.  Chris has a reputation for being an exceptional trainer when it comes to improving people’s understanding and perception of safety and how it can benefit them. Chris spends most of his time out visiting with our clients, determining where the risks in their organization lie and helping them to mitigate those risks.
            
            a.arrow(href="morestites") More
          
        .modal#morestites
          .modal-content
            .container
              p Chris is Six Sigma-certified, a member of American Society of Safety Engineers, and a member of the National Safety Council.
              p “I am most passionate about getting things done others couldn’t,” says Chris. “I enjoy it when the people I work understand that I want to help them and that they can call me a friend.”
              p When he’s not out on the road or in the office, Chris enjoys working with his hands, whether it be automotive body work or just general fix-it projects. People are always amazed at his ability to troubleshoot something and make it work when it’s not working. That analytical ability suits him well in his role as a safety engineer.
              p Originally from Hopkinsville, Kentucky, Chris made his way to the Nashville area because he saw bigger opportunities than in his smaller hometown. Chris loves children because he considers himself a kid at heart. He wants to be known as a good follower of Christ, a great dad and a great friend who always wants to help others in any way he can.
              a.arrow(href="#people") Our People
            
