
.content

  .panes

    .pane#resources

      h2.mobile Resources

      p.intro If we can help you with your risk management needs or you have questions about what we can do for you, please don't hesitate to 
        a(href='tel:16158225454') give us a call 
        | or complete the online contact form linked below.
      a.arrow(href='#contact') Contact SEC

      p.intro Links to information and services that benefit our clients. Please let us know if there is any other information you feel would be helpful to see here.
      a.arrow(href='#links') Helpful Links

      #contact.modal
        .modal-content
          .container
            a.closebtn(href="#resources") close
            h3.headline Contact Us
            p.portal Please use our 
              a(href='#' target='_blank') Client Portal
              |.

      #links.modal
        .modal-content
          .container
            a.closebtn(href='#resources') close
            h3.headline Helpful Links
            a(href='http://get.teamviewer.com/n6qeats' target='_blank') Remote Support with Kyle
            a(href='http://www.ambest.com/' target='_blank') A.M.Best
            a(href='http://www.acord.com/' target='_blank') Acord
            a(href='http://www.agrip.org/' target='_blank') Association of Governmental Risk Pools (AGRIP)
            a(href='http://www.ctas.tennessee.edu' target='_blank') County Technical Assistance Service (CTAS)
            a(href='http://portal.ngutn.com/' target='_blank') Employee Webmail
            a(href='http://www.insurors.org' target='_blank') Insurors of Tennessee
            a(href='http://www.naco.org' target='_blank') National Association of Counties (NaCO)
            a(href='http://www.ncci.com' target='_blank') National Council on Compensation Insurance (NCCI)
            a(href='http://www.nlc.org' target='_blank') National League of Cities
            a(href='http://sectn.com' target='_blank') Safety Engineering & Claims Management
            a(href='https://www.csstars.com/Enterprise/login.cmdx' target='_blank') Stars Enterprise
            a(href='http://www.stopitcyberbully.com/TNRMT' target='_blank') STOP!T
            a(href='http://www.tasbo.net' target='_blank') Tennessee Association of School Business Officials (TASBO)
            a(href='http://www.taud.org' target='_blank') Tennessee Association of Utility Districts (TAUD)
            a(href='https://www.tn.gov/workforce/section/injuries-at-work' target='_blank') Tennessee Bureau of Workers' Compensation
            a(href='http://www.state.tn.us' target='_blank') Tennessee Department of Commerce and Insurance
            a(href='http://www.tmepa.org' target='_blank') Tennessee Municipal Electric Power Association
            a(href='http://www.tnsupts.org' target='_blank') Tennessee Organization of School Superintendents (TOSS)
            a(href='http://www.tnrmt.com' target='_blank') Tennessee Risk Management Trust (TNRMT)
            a(href='http://www.tsba.net' target='_blank') Tennessee School Boards Association (TSBA)
            a(href='http://www.tsmpa.com' target='_blank') Tennessee School Plant Management Association (TSMPA)
